# 資料結構

## 1. 註解

In [1]:
"""
This is a comment
written in
more than just one line
"""
print("Hello World!")

Hello World!

In [2]:
# This is a comment
# written in
# more than just one line
print("Hello World!")

Hello World!

In [3]:
print("Hello World!") # This is a comment

Hello World!

### Reserved Words
![](assets/dataType.png)

## 2. 變數 (Variable)

變數：存放資料的地方。

C 語言:  
int number = 10;  
float number = 10.25;  
String words = "Hello World";  

Python 語言:  
number = 10  
number = 10.25  
words = "Hello World"

In [7]:
number_int = 10
number_float = 10.25
words = "Hello World"

print(type(number_int))
print(type(number_float))
print(type(words))

<class 'int'>
<class 'float'>
<class 'str'>

In [11]:
number_int, number_float, words = 10, 10.25, "Hello World"

print(number_int)
print(number_float)
print(words)

10
10.25
Hello World

In [17]:
name = "Patrick"
print(f"Hi, I am {name}")

Hi, I am Patrick

In [5]:
number_int + number_float

20.25

In [6]:
number_int + words

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [12]:
words.lower()

'hello world'

In [13]:
words.upper()

'HELLO WORLD'

In [14]:
words.replace("H", "J")

'Jello World'

In [9]:
words[6]

'W'

In [15]:
words.split(" ")

['Hello', 'World']

In [16]:
type(words.split(" "))

list

* **List** is a collection which is **ordered and changeable**. Allows duplicate members.
* **Tuple** is a collection which is **ordered and unchangeable**. Allows duplicate members.
* **Dictionary** is a collection which is **unordered, changeable and indexed**. **No duplicate members**.

## 3. List

In [18]:
someList = [ 'abcd', 786 , 2.23, 'john', 70.2 ]
someList

['abcd', 786, 2.23, 'john', 70.2]

In [19]:
someList[1]

786

In [20]:
someList[-1]

70.2

In [21]:
someList[-2]

'john'

In [22]:
someList[2:4]

[2.23, 'john']

In [23]:
someList[2:]

[2.23, 'john', 70.2]

In [27]:
someList[::-1] # someList[start:stop:step]

[70.2, 'john', 2.23, 786, 'abcd']

In [28]:
someList * 3

['abcd',
 786,
 2.23,
 'john',
 70.2,
 'abcd',
 786,
 2.23,
 'john',
 70.2,
 'abcd',
 786,
 2.23,
 'john',
 70.2]

In [29]:
someList[-2] = "Patrick"
someList

['abcd', 786, 2.23, 'Patrick', 70.2]

In [30]:
len(someList)

5

In [31]:
someOtherList = ["Yes", 12, 55.23]
someOtherList

['Yes', 12, 55.23]

In [32]:
someList + someOtherList

['abcd', 786, 2.23, 'Patrick', 70.2, 'Yes', 12, 55.23]

## 4. Tuple

In [33]:
someTuple = ('abcd', 786 , 2.23, 'john', 70.2)
someTuple

('abcd', 786, 2.23, 'john', 70.2)

In [35]:
someTuple[0]

'abcd'

In [36]:
someTuple[-1]

70.2

In [37]:
someTuple[2:]

(2.23, 'john', 70.2)

In [38]:
someTuple[-1] = 12.5

TypeError: 'tuple' object does not support item assignment

In [39]:
someOtherTuple = ('qwerty', 3.14, 9988)
someOtherTuple

('qwerty', 3.14, 9988)

In [41]:
someTuple * 3

('abcd',
 786,
 2.23,
 'john',
 70.2,
 'abcd',
 786,
 2.23,
 'john',
 70.2,
 'abcd',
 786,
 2.23,
 'john',
 70.2)

In [40]:
someTuple + someOtherTuple

('abcd', 786, 2.23, 'john', 70.2, 'qwerty', 3.14, 9988)

## 5. Dictionary

In [42]:
someDict = {'name': 'john','code':6734, 'dept': 'sales'}
someDict

{'name': 'john', 'code': 6734, 'dept': 'sales'}

In [43]:
someDict.keys()

dict_keys(['name', 'code', 'dept'])

In [44]:
someDict.values()

dict_values(['john', 6734, 'sales'])

In [54]:
someDict.items()

dict_items([('name', 'Patrick'), ('code', 6734), ('dept', 'sales')])

In [46]:
someDict["name"]

'john'

In [49]:
someDict["name"] = "Patrick"
someDict

{'name': 'Patrick', 'code': 6734, 'dept': 'sales'}

In [53]:
someDict

{'name': 'Patrick', 'code': 6734, 'dept': 'sales'}