# 流程控制

# if 流程圖

![](assets/decision_making.jpg)

In [ ]:
# first type
if xxx:
    yyy

# second type
if xxx:
    yyy
else:
    zzz

# third type
if xxx:
    yyy
elif zzz:
    aaa
elif qqq:
    www
else:
    bbb

# 迴圈流程圖

![](assets/loop_architecture.jpg)

### while loop

In [5]:
x = 20
while x > 0:
    print(x)
    x -= 1 # x = x - 1

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

In [6]:
def F(num):
    if num > 0:
        return True # 非0
    else:
        return False # 0
x = 20
while F(x):
    print(x)
    x -= 1

20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1

終止方式:
1. 條件不符合
2. 使用保留字 break

### for loop

In [ ]:
for 變數 in 清單:
    xxx

In [8]:
name = "Patrick"
name[2]

't'

終止方式:
1. 跑完所有清單

In [1]:
for char in "Patrick":
    print(char)

P
a
t
r
i
c
k

In [2]:
for element in ["Hi", 12, 23.567, "Woo"]:
    print(element)

Hi
12
23.567
Woo

In [3]:
for num in range(10):
    print(num)

0
1
2
3
4
5
6
7
8
9

In [9]:
range(100000000000000)

range(0, 100000000000000)

range(起始, 終止(不包含), 步伐大小)

In [5]:
for num in range(2, 10, 2):
    print(num)

2
4
6
8

In [17]:
pa = "變數"
ck = "變數"
print(f"element 1 is {pa} / element 2 is {ck}")
for pa, ck in zip(["Hi", 12, 23.567, "Woo"], ["Patrick", 12, 23.567]):
    print(f"element 1 is {pa} / element 2 is {ck}")

element 1 is 變數 / element 2 is 變數
element 1 is Hi / element 2 is Patrick
element 1 is 12 / element 2 is 12
element 1 is 23.567 / element 2 is 23.567

In [16]:
ck

23.567

In [8]:
for ind, element in enumerate(["Hi", 12, 23.567, "Woo"]):
    print(f"element no.{ind} is {element}")

element no.0 is Hi
element no.1 is 12
element no.2 is 23.567
element no.3 is Woo

In [21]:
import pandas as pd
import numpy as np

In [31]:
data = {
    "name":["派翠克派翠克派翠克派翠克派翠克派翠克派翠克", "John"],
    "age":[18,20],
    "email":["aa","bb"]
}
data

{'name': ['派翠克派翠克派翠克派翠克派翠克派翠克派翠克', 'John'],
 'age': [18, 20],
 'email': ['aa', 'bb']}

In [32]:
myTable = pd.DataFrame(data)
myTable

                    name  age email
0  派翠克派翠克派翠克派翠克派翠克派翠克派翠克   18    aa
1                   John   20    bb

In [33]:
print(myTable)

                    name  age email
0  派翠克派翠克派翠克派翠克派翠克派翠克派翠克   18    aa
1                   John   20    bb

In [27]:
myTable["name"]

0    Patrick
1       John
Name: name, dtype: object

In [42]:
a = [1,2,3,4,5]
a

[1, 2, 3, 4, 5]

In [40]:
a.append([1,2,3])

In [41]:
a

[1, 2, 3, 4, 5, [1, 2, 3]]

In [43]:
aa = np.array(a)

In [44]:
aa

array([1, 2, 3, 4, 5])

In [46]:
np.append(aa,[1,2,3])

array([1, 2, 3, 4, 5, 1, 2, 3])